:host {
  display: flex;
  width: 100%;
  min-height: 100%;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 1rem;
}

.msw-test {
  font-family: "Arial";
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;

  .title {
    font-size: 2rem;
  }
  .subtitle {
    font-size: 1rem;
  }
  .cta {
    cursor: pointer;
    font-size: 1rem;
    border: 0;
    background-color: #1751b0;
    color: #fff;
    padding: 0.8rem 2rem;
    border-radius: 0.4rem;
    box-shadow: 0px 0px 8px #7f9fd4;
    width: fit-content;
    position: relative;
  }
  .cta:before {
    content: "";
    background: linear-gradient(
      45deg,
      #ff0000,
      #ff7300,
      #fffb00,
      #48ff00,
      #00ffd5,
      #002bff,
      #7a00ff,
      #ff00c8,
      #ff0000
    );
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 1;
    transition: opacity 0.3s ease-in-out;
    border-radius: 10px;
  }
  .cta:hover {
    background-color: #336ece;
  }
}

@keyframes glowing {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}
